@import "regular";
$maincolor: white;

@mixin mainButton {
    padding: 8px 16px;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
}

@mixin mainButtonByparam($colorButton,$borderRadiusButton,$paddingBtn) {
    padding: $paddingBtn;
    color: white;
    border: 1px solid $colorButton;
    border-radius: $borderRadiusButton;
    background-color: $colorButton;
}
body {
    section {
        .container {
            .box {
                width: 400px;
                height: 200px;
                background-color: $maincolor;
                padding: 20px 5px;

                button {
                
                    font-size: 18px;

                    &:nth-child(1) {
                        @include mainButtonByparam(red,5px ,8px 16px );
                    }

                    &:nth-child(2) {
                        @include mainButtonByparam(blue,15px ,8px 16px )
                    }
                }
                .text-1{
                    font-size: 20px;
                    font-weight: 800px;
                    letter-spacing: 10px;
                }
                .text-2{
                    @extend .text-1;
                    color: orange;
                    
                }
            }
        }
    }
}
